<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Malnutrition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- CSS here ./static/css/bootstrap.min.css-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/slicknav.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/slick.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-1 col-md-1">
                        <div class="logo">
                            <img src="./static/img/logo/loder1.png" width="75">
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-8 col-md-6">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a
                                            href="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&pathRef=.my_folders%2FMalnutrition%2BDashboard&action=view&mode=dashboard&subView=model0000018a3068b3a7_00000001">Dashboard</a>
                                    </li>
                                    <li><a
                                            href="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FMalnutrition%2BReport&action=run&format=HTML&prompt=false">Report</a>
                                    </li>
                                    <li><a
                                            href="https://us3.ca.analytics.ibm.com/bi/?perspective=story&pathRef=.my_folders%2FMalnutrition%2Bstory&action=view&sceneId=-1&sceneTime=0">Story</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex " data-background="/static/img/hero/h1_hero1.jpg"
                    width=20>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInDown" data-delay=".4s">
                                        MALNUTRITION</h1>
                                    <p data-animation="fadeInDown" data-delay=".6s">A Disease that no-one talks about
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-bottom">
                        <div class="slider-bottom-cap" data-animation="fadeInLeft" data-delay=".6s">
                            <p>Working Demonstration</p>

                        </div>
                        <div class="slider-video d-flex align-items-center" data-animation="fadeInRight"
                            data-delay=".8s">
                            <a class="popup-video ani-btn" href="https://www.youtube.com">
                                <img src="./static/img/icon/video_btn.png" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Legal Practice Area start -->
        <div class="legal-practice-area section-padding30">
            <div class="container">
                <!--Section Tittle  -->
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="section-tittle text-center mb-70">
                            <h2>Exploration</h2>
                        </div>
                    </div>
                </div>
                <!-- single items -->
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-practice mb-30">
                            <div class="practice-img">
                                <img src="./static/img/legal/legal_1.jpeg" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                <h4><a href="#">Country by Under-Nutrition</a></h4>
                                <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do eiusmod tem incididunt ut
                                    labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-practice mb-30">
                            <div class="practice-img">
                                <img src="./static/img/legal/legal_2.jpeg" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                <h4><a href="#">Country by Over-Nutrition</a></h4>
                                <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do eiusmod tem incididunt ut
                                    labore et dolore.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- Legal Practice Area End-->

        <!-- About Law Start-->
        <div class="about-low-area about-bg about-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <!-- section tittle -->
                        <div class="section-tittle section-tittle-l mb-70">
                            <h2>Detailed Information About Country and Its Condition</h2>
                        </div>
                        <div class="about-caption mb-100">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut.</p>
                            <!-- Counter Up -->
                            <div class="count-clients">
                                <div class="single-counter text-center">
                                    <span class="counter">14289</span>
                                    <p>Underweight</p>
                                </div>
                                <div class="single-counter text-center">
                                    <span class="counter">5071</span>
                                    <p>Overweight</p>
                                </div>
                                <div class="single-counter text-center">
                                    <span class="counter">25779</span>
                                    <p>Stunting</p>
                                </div>
                                <div class="single-counter text-center">
                                    <span class="counter">6100</span>
                                    <p>Wasting</p>
                                </div>
                                <div class="single-counter text-center">
                                    <span class="counter">1525</span>
                                    <p>Severe Wasting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img f-left">
                                <img src="/static/img/about/about-low-front.jpeg" alt="">
                            </div>
                            <div class="about-back-img f-right d-none d-md-block">
                                <img src="/static/img/about/about-low-back.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Law End-->

        <!-- Contact form Start -->
        
        <div class="contact-form bg-height pb-160 section-padding30" data-background="static/img/about/contact_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                        <div class="form-wrapper">
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="section-tittle section-tittle-f text-center mb-70">
                                        <h2>Dashboard</h2>
                                    </div>
                                </div>
                            </div>
                            <!--End Section Tittle  -->

                            <div class="row">

                                <iframe
                                    src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FMalnutrition%2BDashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018a3068b3a7_00000001"
                                    padding="90px" width="750" height="520" frameborder="0" gesture="media"
                                    allow="encrypted-media" allowfullscreen=""></iframe>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact form End -->

        <!-- Recent-case-area Start -->
        <section class="recent-case-area section-padding30">
            <div class="container">
                <!--Section Tittle  -->
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="section-tittle text-center mb-70">
                            <h2>Basic Information</h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="properties__button">
                            <!--Nav Button  -->
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Underweight</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                        aria-selected="false"> Overweight</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">Stunting </a>
                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last"
                                        role="tab" aria-controls="nav-contact" aria-selected="false">Wasting</a>
                                    <a class="nav-item nav-link" id="nav-last1-tab" data-toggle="tab" href="#nav-last1"
                                        role="tab" aria-controls="nav-contact" aria-selected="false">Severe Wasting </a>
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/images (1).jpeg" width="50" height="200" alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Underweight</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>What is Underweight?</h4>
                                        <p>Undernutrition refers to a condition where an individual's intake of
                                            essential nutrients, including calories, proteins, vitamins, and minerals,
                                            is insufficient to meet the body's energy and nutritional needs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/images3.jpeg" width="50" height="200" alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Underweight</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Health Consequences</h4>
                                        <p>Undernutrition has a range of adverse health effects, particularly in
                                            children and pregnant women. It weakens the immune system, making
                                            individuals more susceptible to infections and diseases.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/images (3).jpeg" width="50" height="200" alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Underweight</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Prevention and Treatment</h4>
                                        <p>Undernutrition is often caused by a combination of factors, including
                                            inadequate food intake, poor dietary diversity, lack of access to clean
                                            water and sanitation, limited healthcare services, and socio-economic
                                            disparities. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card two -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/overnutrition.jpeg" width="50" height="200"
                                            alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Devorce</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>What is Overnutrition?</h4>
                                        <p>Overnutrition, also known as overeating or excessive intake of nutrients,
                                            refers to the consumption of more calories and nutrients than the body needs
                                            for its daily energy expenditure and optimal functioning.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/overnutrition1.jpeg" width="50" height="200"
                                            alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Overnutrition</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Health Consequences</h4>
                                        <p>Overnutrition can lead to obesity, a condition characterized by excessive
                                            body fat accumulation. Obesity is associated with a higher risk of chronic
                                            diseases, such as type 2 diabetes, cardiovascular diseases, hypertension,
                                            certain cancers, and musculoskeletal problems.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/overnutrition2.jpeg" width="50" height="200"
                                            alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Overnutrition</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Treatment and Prevention</h4>
                                        <p>Prevention and management of overnutrition involve promoting balanced diets
                                            that provide the right amount of calories and nutrients for an individual's
                                            age, gender, activity level, and health status.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card three -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/stunting1.jpeg" width="50" height="200" alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Stunting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>What is Stunting? </h4>
                                        <p>Stunting, also known as chronic malnutrition, is a condition characterized by
                                            impaired linear growth and short stature in children. It is typically
                                            assessed using the height-for-age Z-score (HAZ), which compares a child's
                                            height to the median height of a healthy population of the same age.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/stunting2.jpeg" width="50" height="200" alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Stunting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Health Consequrences</h4>
                                        <p>Factors contributing to stunting include poor maternal nutrition, inadequate
                                            breastfeeding practices, lack of access to nutritious foods, poor sanitation
                                            and hygiene practices, and limited healthcare services.</p>
                                        <a href="case_details.html" class="read-more1">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/stunting3.jpeg" width="50" height="200" alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Stunting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Treatment and Prevention</h4>
                                        <p>Prevention of stunting requires a multi-faceted approach that addresses both
                                            maternal and child nutrition. This includes promoting exclusive
                                            breastfeeding for the first six months, providing nutrient-rich
                                            complementary foods, improving maternal nutrition during pregnancy, and
                                            ensuring access to clean water, sanitation, and healthcare services.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card foure -->
                    <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/wasting.jpeg" width="50" height="200" alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Wasting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>What is Wasting</h4>
                                        <p>Wasting, also known as acute malnutrition or wasting syndrome, is a condition
                                            characterized by a significant loss of muscle and fat mass, resulting in a
                                            low weight-for-height ratio.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/wasting1.jpeg" width="50" height="200" alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Wasting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Health Consequences</h4>
                                        <p>Wasting is primarily caused by an imbalance between energy intake and energy
                                            expenditure. Inadequate food consumption, combined with factors such as
                                            illness, infections, and poor dietary diversity, can lead to rapid weight
                                            loss.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/wasting2.jpeg" width="50" height="200" alt="">

                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Wasting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Prevention and Treatment</h4>
                                        <p>Treatment for wasting involves nutritional rehabilitation and medical care.
                                            Therapeutic feeding programs, including the use of ready-to-use therapeutic
                                            foods, aim to restore a person's weight and nutritional status gradually.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card five -->

                    <div class="tab-pane fade" id="nav-last1" role="tabpanel" aria-labelledby="nav-last1-tab">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/severewasting.jpeg" width="50" height="200"
                                            alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Severe Wasting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>What is Severe Wasting</h4>
                                        <p>Severe wasting is characterized by a very low weight-for-height ratio, often
                                            measured by the term "weight-for-height Z-score" (WHZ), which indicates how
                                            far a child's weight deviates from the median weight of a healthy population
                                            of the same height.</p>
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/severewasting1.jpeg" width="50" height="200"
                                            alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Severe Wasting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Health Consequences</h4>
                                        <p>Children with severe wasting are at a significantly increased risk of
                                            mortality. Their weakened bodies struggle to fight off common illnesses, and
                                            the combined impact of malnutrition and infection can be fatal.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-practice mb-30">
                                    <div class="practice-img">
                                        <img src="/static/img/pic/logo/severewasting2.jpeg" width="50" height="200"
                                            alt="">
                                        <!-- "practice-icon-->
                                        <div class="practice-icon">
                                            <span>Severe Wasting</span>
                                        </div>
                                    </div>
                                    <div class="practice-caption2">
                                        <h4>Treatment and Prevention</h4>
                                        <p>Preventing severe wasting involves improving overall food security, access to
                                            clean water, sanitation, and healthcare services. Promoting breastfeeding,
                                            enhancing maternal nutrition, and encouraging diverse diets for infants and
                                            young children can help prevent malnutrition from developing into severe
                                            wasting.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Recent-case-area End -->

        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding30" data-background="/static/img/testmonial/testi_bg.png">
            <div class="container">
                <!--Section Tittle  -->
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="testimonial-tittle testimonial-tittle-testi text-center mb-70">
                            <h2>Words From Others About Malnutrition</h2>
                        </div>
                    </div>
                </div>
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>The United Nations Children's Fund (UNICEF) remains committed to addressing
                                            the pressing issue of malnutrition worldwide. Malnutrition poses a serious
                                            threat to children's health, growth, and development, hindering their
                                            potential for a brighter future. Our efforts are focused on delivering
                                            life-saving interventions, promoting breastfeeding, improving access to
                                            nutritious foods, and ensuring clean water and sanitation for vulnerable
                                            communities. Together with our partners, we are working tirelessly to break
                                            the cycle of malnutrition and secure a healthier world for every child.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img">
                                            <img src="/static/img/testmonial/UNICEF.png" width="40" height="40" alt="">
                                            <span>UNICEF</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>The World Health Organization (WHO) recognizes that malnutrition is a complex
                                            challenge affecting populations across the globe. From undernutrition to
                                            overnutrition, this issue poses significant health risks and socioeconomic
                                            burdens. Our approach involves advocating for evidence-based policies,
                                            supporting health systems to provide adequate nutrition services, and
                                            fostering international collaboration. By addressing malnutrition
                                            comprehensively, we strive to reduce the global burden of disease, enhance
                                            resilience, and promote well-being for all.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img">
                                            <img src="/static/img/testmonial/WHO.png" width="40" height="40" alt="">
                                            <span>WHO</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>UNESCO recognizes that malnutrition not only impacts health but also hinders
                                            human development, education, and cultural preservation. Malnutrition can
                                            impede cognitive development, hinder learning outcomes, and perpetuate
                                            cycles of poverty. As we strive for inclusive and equitable education, we
                                            emphasize the importance of addressing malnutrition to ensure that every
                                            child has the opportunity to thrive. Additionally, safeguarding traditional
                                            knowledge, cultural practices, and indigenous food systems contributes to
                                            addressing malnutrition sustainably. Through collaboration with partners,
                                            UNESCO remains committed to advancing holistic solutions that promote
                                            well-being, learning, and cultural heritage preservation.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img">
                                            <img src="/static/img/testmonial/UNESCO.png" width="40" height="40" alt="">
                                            <span>UNESCO</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Team Mates Start -->
        <div class="teams-area section-padding30">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="section-tittle section-tittle text-center mb-70">
                            <h2>Team Mates</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-4">
                        <div class="single-teams text-center">
                            <div class="team-img">
                                <img src="/static/img/pic/logo/kun.jpeg"  width="5" height="500" alt="">
                            </div>
                            <div class="team-caption">
                                <h4>Kunal Raj</h4>
                                <span>Under Graduate</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-4">
                        <div class="single-teams text-center">
                            <div class="team-img">
                                <img src="/static/img/pic/logo/jyoti.jpeg" height="500" width="2" alt="">
                            </div>
                            <div class="team-caption">
                                <h4>Jyoti Gupta</h4>
                                <span>Under Graduate</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <!-- Team Mates End-->


    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="/templates/index.html"><img src="/static/img/logo/loder1.png" width="50">
                                    <h3 style="color: aliceblue;"> Malnutrition </h3>
                                </a>
                            </div>
                            <div class="single-footer-caption mb-5">
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>A Disease About No One Cares</p>
                                    </div>
                                </div>
                            </div>
                            <!-- footer social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-github"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Malnutrition</h4>
                                <ul>
                                    <li><a href="./index.html">Home</a></li>
                                    <li><a
                                            href="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&pathRef=.my_folders%2FMalnutrition%2BDashboard&action=view&mode=dashboard&subView=model0000018a3068b3a7_00000001">Dashboard</a>
                                    </li>
                                    <li><a
                                            href="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FMalnutrition%2BReport&action=run&format=HTML&prompt=false">Report</a>
                                    </li>
                                    <li><a
                                            href="https://us3.ca.analytics.ibm.com/bi/?perspective=story&pathRef=.my_folders%2FMalnutrition%2Bstory&action=view&sceneId=-1&sceneTime=0">Story</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center">
                                <p class="text-center text-md-end text-xl-start">
                                    All Rights Reserved
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./static/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./static/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="./static/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./static/js/wow.min.js"></script>
    <script src="./static/js/animated.headline.js"></script>
    <script src="./static/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./static/js/jquery.scrollUp.min.js"></script>
    <script src="./static/js/jquery.nice-select.min.js"></script>
    <script src="./static/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="./static/js/jquery.counterup.min.js"></script>

    <!-- counter -->
    <script src="./static/js/contact.js"></script>
    <script src="./static/js/jquery.form.js"></script>
    <script src="./static/js/jquery.validate.min.js"></script>
    <script src="./static/js/mail-script.js"></script>
    <script src="./static/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./static/js/plugins.js"></script>
    <script src="./static/js/main.js"></script>

</body>

</html>