<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malnutrition</title>
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />





    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!--JQuery CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="./static/css/index.css">


</head>

<body>
    <div class="upper-con">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 sub-heading">
                    <h1> Malnutrition</h1>
                </div>

            </div>
        </div>
    </div>


    <div class="welcome-con" id="home">

        <div class="row justify-content-center">
            <div class="col-md-4 img-bx">
                <img src="/static/image/download (1).jpeg" alt="" width="78%">
            </div>
            <div class="text-box col-md-5">
                <h1>Malnutrition</h1>
                <h4>Disease which no one discuss</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci rerum libero quidem! Doloremque
                    similique eius minima modi quaerat inventore sapiente.
                </p>
                <button>Explore Now</button>
            </div>

        </div>
    </div>
    <div class="guide-bx">
        <h4>What comes under Malnutrition?</h4>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 card-box">
                    <div class="card">
                        <i class="fa-solid fa-1"></i>
                        <h3>Under Weight</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, corrupti.</p>
                    </div>
                </div><!-- Card-1 end here -->
                <div class="col-md-3 card-box">
                    <div class="card">
                        <i class="fa-solid fa-2 "></i>
                        <h3>Over Weight</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam sed in.</p>
                    </div>
                </div><!-- Card-2 end here -->
                <div class="col-md-3 card-box">
                    <div class="card">
                        <i class="fa-solid fa-3 "></i>
                        <h3>Stunting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, dignissimos.</p>
                    </div>
                </div><!-- Card-3 end here -->
                <div class="col-md-3 card-box">
                    <div class="card">
                        <i class="fa-solid fa-4 "></i>
                        <h3>Wasting</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, quod!</p>
                    </div>
                </div><!-- Card-3 end here -->


            </div>
        </div>
    </div>




    <div class="update-bx" id="update">
        <div class="container-fluid p-0">
            <div class="row ">
                <div class="col-md-6 img-bx">
                    <img src="/static/image/hand-giving-bowl-food-needy-person.jpg " alt="" width="80%">
                </div>
                <div class="col-md-6 text-bx">

                    <h2>Need of Better Diet?</h2>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam nobis necessitatibus laborum expedita, earum inventore
                        itaque reiciendis dicta quisquam vero.
                    </p>


                    <ul>
                        <li><b><i class="fa-solid fa-table"></i> Holidays</b></li>
                        <li><b><i class="fa-solid fa-calendar"></i> Events</b></li>
                        <li><b><i class="fa-solid fa-list-check"></i> Schedule</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="card-bx" id="feature">
        <div class="title-bx">
            <h4>Situation Across the Globe</h4>
            <h6> </h6>
        </div>
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-4 flip-card-bx">
                    <div class="card">
                        <div class="img-bx">
                            <img src="/static/image/Screenshot 2023-07-30 130305.png" alt="" width="70%">
                        </div>
                        <div class="flip-text-bx" id="">
                            <h5>Undernutrition By Year</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, dicta?</p>
                        </div>
                    </div>
                </div><!--Card-1-->

                <div class="col-md-4 flip-card-bx">
                    <div class="card">
                        <div class="img-bx">
                            <img src="/static/image/Screenshot 2023-07-30 130305.png" alt="" width="80%">
                        </div>
                        <div class="flip-text-bx" id="">
                            <h5>Undernutrition By Year</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, dicta?</p>
                        </div>
                    </div>
                </div><!--Card-2-->

                <div class="col-md-4 flip-card-bx">
                    <div class="card">
                        <div class="img-bx">
                            <img src="/static/image/Screenshot 2023-07-30 130305.png" alt="" width="60%">
                        </div>
                        <div class="flip-text-bx" id="">
                            <h5>Undernutrition By Year</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, dicta?</p>
                        </div>
                    </div>
                </div><!--Card-3-->

            </div><!--Row End here-->


        </div><!--Container CLosed here-->
    </div><!-- Card-bx end here-->


    <div class="information" id="info">

        <div class="container info-bx">
            <div class="row justify-content-center">
                <div class="col-md-6 svg_bx">
                    <div class="container">
                        
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="Los Angeles"
                                        style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="Chicago"
                                        style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="New york"
                                        style="width:100%;">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>




                </div>

                <div class="col-md-5 text-bx">
                    <h5></h5>
                    <h2>Learn the <span>Situation</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Deserunt totam amet ducimus adipisci officia molestias esse porro exercitationem voluptatum
                        fugit!
                    </p>

                    <button>Check Now</button>
                </div>

            </div><!-- row End here-->
        </div><!-- Container-1 End here-->

        <div class="container info-bx">
            <div class="row justify-content-center">

                <div class="col-md-5 text-bx">
                    <h5>Detailed Report</h5>
                    <h2>Report </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Deserunt totam amet ducimus adipisci officia molestias esse porro exercitationem voluptatum
                        fugit!
                    </p>
                    <button>Check Now</button>
                </div>

                <div class="col-md-6 svg_bx">
                    <div class="container">
                        
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="Los Angeles"
                                        style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="Chicago"
                                        style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="New york"
                                        style="width:100%;">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>

            </div><!-- row End here-->
        </div><!-- Container-2 End here-->


        <div class="container info-bx">
            <div class="row justify-content-center">
                <div class="col-md-6 svg_bx">
                    <div class="container">
                        
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="Los Angeles"
                                        style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="Chicago"
                                        style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="/static/image/Screenshot 2023-07-30 130322.png" alt="New york"
                                        style="width:100%;">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>



                </div>

                <div class="col-md-5 text-bx">
                    <h5>Detailed Story</h5>
                    <h2>Story </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Deserunt totam amet ducimus adipisci officia molestias esse porro exercitationem voluptatum
                        fugit!
                    </p>

                    <button>Check Now</button>
                </div>

            </div><!-- row End here-->
        </div><!-- Container-3 End here-->
    </div>




    <div class="Conclusion" id="testimonial">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-5 text-bx">
                    
                    <h2>Conclusion</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consequatur quidem tempore
                        perferendis? Quibusdam, necessitatibus!
                    </p>
                   
                </div>
                <div class="col-md-5 review-bx">
                    <div class="carousel slide" data-ride="carousel" id="slider">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="text-box">
                                        <i class="fa-solid fa-quote-left"></i>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt
                                            quasi saepe. Consequuntur, perspiciatis recusandae.
                                        </p>
                                    </div>
                                    <div class="profile-bx">
                                        <h4>Significant Note  </h4>
                                    </div>
                                </div><!--Card closed here-->
                            </div><!--Carousel-item 1 end here-->

                            <div class="carousel-item">
                                <div class="card">
                                    <div class="text-box">
                                        <i class="fa-solid fa-quote-left"></i>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt
                                            quasi saepe. Consequuntur, perspiciatis recusandae.
                                        </p>
                                    </div>
                                    <div class="profile-bx">
                                        <h4>Significant Note  </h4>
                                    </div>
                                </div><!--Card closed here-->
                            </div><!--Carousel-item 2 end here-->


                            <div class="carousel-item">
                                <div class="card">
                                    <div class="text-box">
                                        <i class="fa-solid fa-quote-left"></i>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt
                                            quasi saepe. Consequuntur, perspiciatis recusandae.
                                        </p>
                                    </div>
                                    <div class="profile-bx">
                                        <h4>Significant Note  </h4>
                                    </div>
                                </div><!--Card closed here-->
                            </div><!--Carousel-item 3 end here-->

                        </div><!--carousel-inner end here-->

                        <ul id="nav-btn">
                            <li data-target="#slider" class="active" data-slide-to="0">1</li>
                            <li data-target="#slider" data-slide-to="1">2</li>
                            <li data-target="#slider" data-slide-to="2">3</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>



   
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-bx">
                    <h5>
                        FIND US
                    </h5>
                    <h3> Kunal Raj & Jyoti Gupta </h3>
                    <p>
                        Institute of Engineering & Management <br> SaltLake Sector V <br>Kolkata, West Bengal
                    </p>
                    
                    <a href="tel:+9134534531"><i class="fa-solid fa-phone"></i>  +91 7645088281</a>
                    <a href="tel:+9134534531"><i class="fa-solid fa-phone"></i>  +91 7571030840</a>
                </div>
                <div class="col-md-4 form-con">
                    <div class="form-bx">
                        <h5>Newsletter</h5>
                        <input type="text" placeholder="Enter your Email-Id">
                        <button>Subscribe now</button>
                    </div>
                    <div class="icon-bx">
                        <a href=""><i class="fa-brands fa-facebook-f text-primary"></i></a>
                        <a href=""><i class="fa-brands fa-instagram text-danger"></i></a>
                        <a href=""><i class="fa-brands fa-twitter text-info"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>



</html>